
body{
    background-color:#FFDF8C;
}

.wrapper{
    width: calc(100vw - 100px);
    background-color: #fff;
    margin: 50px auto;
    border-radius: 20px;
    max-width: 1400px;
    font-family: Proxima Nova;
}
.inner{
    width: 90%;
    margin:  50px auto;
    margin-bottom: 20px;
}
header{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.header__title{
    margin-left: 13px;
}
.header__logo h1 {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
 h2{
  font-weight:600;
  font-size:28px;
  line-height:30px
}
.header__logo{
    display: flex;
    align-items: center;
    max-width: 316px;
    justify-content: space-between;
}
.header__logo p {
    color: #7b7b7b;
}
.main__top{
    display: flex;
    justify-content: space-between;
 
}
.main__categories{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.sort__word{
    font-family: 'Proxima Nova';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.015em;
color: #2C2C2C;
cursor: pointer;
}
.main__sort{
    margin-top: 50px;
    position: relative;
}
.main__title{
    margin: 35px 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
}
.main__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sort__popup{position:absolute;right:0;margin-top:15px;background:#ffffff; box-shadow:0px 5px 15px rgba(0,0,0,0.09);border-radius:10px;overflow:hidden;padding:10px 0;width:160px}.sort__popup ul{overflow:hidden}.sort__popup ul li{padding:12px 20px;cursor:pointer}.sort__popup ul li.active,.sort__popup ul li:hover{background:rgba(254,95,30,0.05)}.sort__popup ul li.active{font-weight:bold;color:#fe5f1e}
@media (max-width: 1100px){
    main .main__top{
      display: block;
   }
   .main__categories{
    flex-wrap: wrap;
    text-align: center;
    margin-right: none;
   }
   .sort__popup{
   position: static;
   }
}
@media (max-width: 680px){
    .main__items{
      display: block;
   }
   .pizza__img img{
    margin: auto;
    display: block;
}
   }
   



	